# Question 1 - Heart Disease

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split

In [7]:
# Import data, name attributes according to documentation provided

cleveland = pd.read_csv('ps_data/processed.cleveland.data', sep=',', header=None, 
                       names=['age', 'sex', 'cp', 'trestbps','chol', 'fbs',
                             'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 
                              'ca', 'thal', 'num'])
cleveland.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

##### For the tasks below use an 80-20 training-test split.

In [9]:
# Extract the feature matrix and target array
X_cleveland = cleveland.drop('num', axis=1)
y_cleveland = cleveland['num']
X_cleveland.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0

In [10]:
set(y_cleveland)

{0, 1, 2, 3, 4}

In [ ]:
# Split data into training and test sets

Xtrain, Xtest, ytrain, ytest = train_test_split(X_iris, y_iris, random_state=1)

### 1. Train a DT using num as your target feature. Do not restructure it. Use 5-fold CV. Assess the performance of your model on the test set. Any issues with your model?

### 2. Prune the tree using the best α. What changed? How is the performance affected?

### 3. Dichotomize your target feature as you see fit (justify your dichotomization criterion). Fit a new DT. Prune it. Print and interpret the confusion matrix. Assess performance. Discuss the substantive implications of your model

### 4. For comparison purposes, fit a logistic regression and a k NN and compare your results to those above. Overall, which model would you pick and why?

### 5. Extra Credit (10 points): Try to achieve a precision of ≤ 92% with your logistic regression model.

# Question 2 - Census Income

### Perform the same tasks as in Question 1 (with the exception of Task 5), but use the Census Income data from the UCI repository (here). Use the adult.data file as your training set and the adult.test file as your test set. Keep in mind that the target feature (income) is already binary, so you will not have to further manipulate it. Also, this dataset – as opposed to the Heart Disease one – contains missing values, so preprocessing is essential. Please include commentary on all steps/decisions you perform, not only explaining what you are doing but why you are doing it.